<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2>Hello Admin</h2>
  <a href="/categories/add">Add Category</a> | 
  <a href="/products/add">Add Products</a>
  <h2>All categories</h2>
  <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
    </tr>
    <tr th:each="category : ${categories}">
      <td th:text="${category.id}"></td>
      <td th:text="${category.name}"></td>
    </tr>
  </table>
  <h2>All Products</h2>
  <table>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Action</th>
    </tr>
    <tr th:each="product : ${products}">
      <td th:text="${product.id}"></td>
      <td th:text="${product.title}"></td>
      <td th:text="${product.description}"></td>
      <td th:text="${product.price}"></td>
      <td th:text="${product.qty}"></td>
      <td> <a th:href="@{/products/edit(id=${product.id})}">Edit</a> | <a th:href="@{/products/delete(id=${product.id})}">Delete</a> </td>
    </tr>
  </table>
  <h2>All Users</h2>
  <table>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
    <tr th:each="user : ${users}">
      <td th:text="${user.firstName}"></td>
      <td th:text="${user.lastName}"></td>
    </tr>
  </table>
</body>
</html>