<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
</head>
<body>
  <h2>Register Page</h2>
  <form action="/users/register" method="post">
    <input type="text" name="firstName" placeholder="first name" /><br>
    <input type="text" name="lastName" placeholder="last name"/><br>
    <input type="text" name="email" placeholder="email"/><br>
    <input type="password" name="password" placeholder="password"><br>
    <select name="role">
      <option value="USER">USER</option>
      <option value="ADMIN">ADMIN</option>
    </select>
    <button type="submit">Register</button>
  </form>
</body>
</html>